<!DOCTYPE html>
<html lang="en">

<html>

    <head >
      <div style="text-align:center">
       
        <nav class="navbar d-flex justify-content-between fixed-top navbar-expand-lg navbar-light bg-light p-2 ">
            
          <a class="navbar-brand" href="/""">WELCOME</a>
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
              <div class="navbar-nav" >
                <a class="nav-item nav-link active" href="/""">|  Home  |</a>
                <a class="nav-item nav-link" href="about">|  About ME  |</a>
                <a class="nav-item nav-link" href="coffee">|  Buy Me Coffeeee 0_o  |</a>
                
              </div>
            </div>
          </nav>

      </div> 

    </head>


    <body>
        {% block body %}{% endblock body %}

        {% block foot %}{% endblock foot %}
    </body>
</html>


