{% extends 'base.html' %}
{% comment %} https://photos.app.goo.gl/D4jmTt4WUhFWSSeNA  {% endcomment %}


{% block body %}

<!DOCTYPE html>
<html>
	<style>
		image{border:4px solid orange; width: 120px;height: 100px;}
		h1{text-transform:uppercase}
	</style>
<head>
	<title>
		HTML frame scrolling Attribute
	</title>
</head>
<body>
	<h1>Buy Me Coffeeee O_0 </h1>
    <p>SCAN ME !!!</p>
	<img src="static/8e945f46-42f4-4207-a07d-2dbc1848f323.jpg" alt="image is not available">
</body>
</html>


{% endblock body %}
