{% extends 'base.html' %}



{% block body %}




<!DOCTYPE html>
<html>
<body>

<h1>Have you ever wondered why the length of the day changes during the year? </h1>

<p>"Did you..<br>


    know that locations in the Antarctic can experience 24 hours of daylight in summer (and
    none in winter)?<br> 
    
    This exhibit will allow you to explore how the rotation of the Earth and
    its motion around the Sun determines the duration of daylight hours at any location on
    the Earth"</p>

<form action = "/p2"  method = "get"> 
    <input type="submit" value = "CLICK ME TO CONTINUE !! "> </input>
</form>


</body>
</html>

{% endblock body %}

